<header>
  <nav>
      <div class="main">
        <img src="/assets/logo-white.png" alt="" class="logo-white">
          <ul class="main-nav">
            <li><a href="#">Thực đơn</a></li>
            <li><a href="#">Giỏ hàng</a></li>
            <li><a href="#">Liên Hệ</a></li>
            <li><a href="#">Đăng ký</a></li>
          </ul>
      </div>
  </nav>
  <div class="nav">
      <h1>Đồ ăn của mọi nhà.
        <br>Giao tận nơi, áp voucher để được thỏa sức gọi món.
      </h1>
      <a class="btn-nav" href="">Đặt món</a>
      <a class="btn-sacm" href="">Xem thêm</a>
  </div>
</header>
