<div class="footer">
  <div class="row">
    <ul class="span-col-1">
      <li><a href="">Trang chủ</a></li>
      <li><a href="">Chủ đề</a></li>
      <li><a href="">Trợ giúp</a></li>
      <li><a href="">iOS App</a></li>
      <li><a href="">Android App</a></li>
    </ul>
    <div class="span-col-2">
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-square-twitter"></i>
      <i class="fa-brands fa-square-google-plus"></i>
      <i class="fa-brands fa-square-instagram"></i>
    </div>
  </div>

  <p>
    Bản quyền © 2015 của Omnifood. Đã đăng ký Bản quyền.
  </p>
</div>
