<div class="content">
  <div class="tact">
    <h2>CHÚNG TÔI HIỆN CÓ Ở CÁC THÀNH PHỐ NÀY</h2>

    <div class="orgin">
      <div class="photo">
        <img src="/assets/london.jpg" alt="">
        <h3>LONDON</h3>
        <div class="name-icon">
          <i class="fa-solid fa-user"></i>
          <p>Hơn 11.2K người tuy cập</p>
        </div>

        <div class="name-icon">
          <i class="fa-solid fa-star"></i>
          <p>Hơn 2.8k lượt đánh giá</p>
        </div>

        <div class="name-icon">
          <i class="fa-brands fa-twitter"></i>
          <li><a href="">@omnifood_fr</a></li>
        </div>
      </div>

      <div class="photo">
        <img src="/assets/berlin.jpg" alt="">
        <h3>BERLIN</h3>
        <div class="name-icon">
          <i class="fa-solid fa-user"></i>
          <p>Hơn 29.4K người tuy cập</p>
        </div>

        <div class="name-icon">
          <i class="fa-solid fa-star"></i>
          <p>Hơn 9.8k lượt đánh giá</p>
        </div>

        <div class="name-icon">
          <i class="fa-brands fa-twitter"></i>
          <li><a href="">@omnifood_fr</a></li>
        </div>
      </div>

      <div class="photo">
        <img src="/assets/lisbon-3.jpg" alt="">
        <h3>LISBON</h3>
        <div class="name-icon">
          <i class="fa-solid fa-user"></i>
          <p>Hơn 119.2K người tuy cập</p>
        </div>

        <div class="name-icon">
          <i class="fa-solid fa-star"></i>
          <p>Hơn 98.8k lượt đánh giá</p>
        </div>

        <div class="name-icon">
          <i class="fa-brands fa-twitter"></i>
          <li><a href="">@omnifood_fr</a></li>
        </div>
      </div>

      <div class="photo">
        <img src="/assets/san-francisco.jpg" alt="">
        <h3>SAN FRANCISCO</h3>

        <div class="name-icon">
          <i class="fa-solid fa-user"></i>
          <p>Hơn 72.2K người tuy cập</p>
        </div>

        <div class="name-icon">
          <i class="fa-solid fa-star"></i>
          <p>Hơn 52.1k lượt đánh giá</p>
        </div>

        <div class="name-icon">
          <i class="fa-brands fa-twitter"></i>
          <li><a href="">@omnifood_fr</a></li>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sesion-text">
  <h2>KHÁCH HÀNG CÓ CHÚNG TÔI</h2>
  <div class="edit-main">
    <div class="edit">
      <p>Omnifood thật tuyệt vời! Tôi mới thành lập một công ty khởi nghiệp và không có thời gian nấu nướng nên Omnifood chính là cứu cánh. Bây giờ quen rồi, tôi không thể sống thiếu bữa ăn hàng ngày được!</p>
      <div class="anh-ng">
        <img src="/assets/customer-1.jpg" alt="">
        <p>Joe Biden</p>
      </div>
    </div>

    <div class="edit">
      <p>Những bữa ăn rẻ tiền, tốt cho sức khỏe và hương vị tuyệt vời, được giao tận nhà. Chúng tôi có rất nhiều dịch vụ giao đồ ăn ở Lisbon, nhưng không có dịch vụ nào sánh bằng Omifood.</p>
      <div class="anh-ng">
        <img src="/assets/customer-2.jpg" alt="">
        <p>Barack Obama</p>
      </div>
    </div>

    <div class="edit">
      <p>Tôi đang tìm kiếm một dịch vụ giao đồ ăn nhanh chóng và dễ dàng ở San Francisco. Tôi đã thử rất nhiều loại và cuối cùng chọn Omnifood. Dịch vụ giao đồ ăn tốt nhất ở Vùng Vịnh. Kịp các công việc tuyệt vời!</p>
      <div class="anh-ng">
        <img src="/assets/customer-3.jpg" alt="">
        <p>Donald Trump</p>
      </div>
    </div>
  </div>
</div>

<div class="healthy">
  <h2>BẮT ĐẦU ĂN SỨC KHỎE NGAY HÔM NAY</h2>
  <div class="row">
    <div class="col">
      <h3>Phần thưởng</h3>
        <div class="card">
          <div class="money">
            <p>$399</p>
            <span>/ month</span>
          </div>
          <p>Chỉ có 13,30$ một bữa</p>
        </div>
        <div class="label">
          <li><i class="fa-solid fa-check" style="color: #e67e22;"></i>Mỗi ngày 1 bữa</li>
          <li><i class="fa-solid fa-check" style="color: #e67e22;"></i>Đặt hàng 24/7</li>
          <li><i class="fa-solid fa-check" style="color: #e67e22;"></i>Truy cập vào những sáng tạo mới nhất</li>
          <li><i class="fa-solid fa-check" style="color: #e67e22;"></i>Giao hàng miễn phí</li>
        </div>
        <div class="btn-click">
          <a href="">Đăng ký ngay</a>
        </div>
      </div>

    <div class="col">
      <h3>Chuyên nghiệp</h3>
        <div class="card">
          <div class="money">
            <p>$399</p>
            <span>/ month</span>
          </div>
          <p>Chỉ có 13,30$ một bữa</p>
        </div>
        <div class="label">
          <li><i class="fa-solid fa-check" style="color: #e67e22;"></i>Mỗi ngày 1 bữa</li>
          <li><i class="fa-solid fa-check" style="color: #e67e22;"></i>Đặt hàng 24/7</li>
          <li><i class="fa-solid fa-check" style="color: #e67e22;"></i>Truy cập vào những sáng tạo mới nhất</li>
          <li><i class="fa-solid fa-check" style="color: #e67e22;"></i>Giao hàng miễn phí</li>
        </div>
        <div class="one-click">
          <a href="">Đăng ký ngay</a>
        </div>
    </div>

    <div class="col">
      <h3>Khởi đầu</h3>
        <div class="card">
          <div class="money">
            <p>$399</p>
            <span>/ month</span>
          </div>
          <p>Chỉ có 13,30$ một bữa</p>
        </div>
        <div class="label">
          <li><i class="fa-solid fa-check" style="color: #e67e22;"></i>Mỗi ngày 1 bữa</li>
          <li><i class="fa-solid fa-check" style="color: #e67e22;"></i>Đặt hàng 24/7</li>
          <li><i class="fa-solid fa-check" style="color: #e67e22;"></i>Truy cập vào những sáng tạo mới nhất</li>
          <li><i class="fa-solid fa-check" style="color: #e67e22;"></i>Giao hàng miễn phí</li>
        </div>
        <div class="one-click">
          <a href="">Đăng ký ngay</a>
        </div>
    </div>
  </div>
</div>

<div class="happy">
  <h2>Chúng tôi rất vui được nghe ý kiến từ bạn</h2>
  <div class="table">
    <div class="yahoo">
      <div class="count">
        <label for="">Tên</label>
      </div>
      <input type="email" name="Tên" id="Tên" placeholder="Nhập tên của bạn" required>
    </div>
    <div class="yahoo">
      <div class="count">
        <label for="">Email</label>
      </div>
      <input type="email" name="email" placeholder="Nhập email của bạn" required>
    </div>
    <div class="yahoo">
      <div class="count">
        <label for="lang-selection">Làm thế nào bạn tìm thấy chúng tôi?</label>
      </div>
      <select name="lang" id="lang-select">
          <option value="friens">Bạn bè</option>
          <option value="search engine">Trang web</option>
          <option value="advertisement">Quảng cáo</option>
          <option value="orther">Khác</option>
      </select>
    </div>
    <div class="yahoo">
      <div class="count">
        <label for="yes">Xác nhận chính xác thông tin</label>
      </div>
      <input type="checkbox" name="yes" id="yes" value="LovePHP"> Tôi đồng ý
    </div>
    <div class="yahoo">
      <div class="count-1">
        <label>Góp ý cho chúng tôi</label>
      </div>
      <textarea name="message" placeholder="Điền vào đây"></textarea>
    </div>
    <div class="submit">
      <input type="gui" value="Gửi" >
    </div>
  </div>
</div>
