<section class="section-features">
  <div class="row">
      <h2>Nhanh chóng &mdash; Tiết kiệm</h2>
      <p class="some">
        Xin chào, chúng tôi là Omnifood, dịch vụ giao đồ ăn. Chúng tôi biết bạn luôn bận rộn. Không có thời gian nấu nướng. Vì vậy, hãy để chúng tôi giải quyết vấn đề đó!
      </p>
  </div>

  <div class="container">
    <div class="box">
      <i class="fa-solid fa-font-awesome"></i>
      <h3>LÊN ĐẾN 365 NGÀY/NĂM</h3>
      <p>Các gói đăng ký của chúng tôi bao gồm phạm vi bảo hiểm lên tới 365 ngày/năm. Bạn cũng có thể lựa chọn đặt hàng linh hoạt hơn nếu đó là phong cách của bạn.</p>
    </div>

    <div class="box">
      <i class="fa-solid fa-font-awesome"></i>
      <h3>SẴN SÀNG TRONG 20 PHÚT</h3>
      <p>Bạn chỉ còn hai mươi phút nữa là có những bữa ăn ngon và siêu tốt cho sức khỏe được giao đến tận nhà. Chúng tôi làm việc với những đầu bếp giỏi nhất ở mỗi thị trấn để đảm bảo rằng bạn hài lòng 100%.</p>
    </div>

    <div class="box">
      <i class="fa-solid fa-font-awesome"></i>
      <h3>100% HỮU CƠ</h3>
      <p>Tất cả các loại rau của chúng tôi đều tươi, hữu cơ và có nguồn gốc địa phương. Động vật được nuôi mà không bổ sung hormone hoặc kháng sinh. Tốt cho sức khỏe của bạn, môi trường và nó cũng ngon hơn!</p>
    </div>

    <div class="box">
      <i class="fa-solid fa-font-awesome"></i>
      <h3>ĐẶT HÀNG BẤT CỨ ĐÂU</h3>
      <p>Chúng tôi không giới hạn khả năng sáng tạo của bạn, có nghĩa là bạn có thể đặt hàng bất cứ thứ gì bạn muốn. Bạn cũng có thể chọn từ thực đơn của chúng tôi có hơn 100 bữa ăn ngon. Tùy bạn đấy!</p>
    </div>
  </div>

  <!-- anh  -->
  <div class="meat">
    <div class="meat-photo">
      <li><img src="/assets/1.jpg" alt=""></li>
      <li><img src="/assets/2.jpg" alt=""></li>
      <li><img src="/assets/3.jpg" alt=""></li>
      <li><img src="/assets/4.jpg" alt=""></li>
    </div>
  </div>

  <div class="meats">
    <div class="meat-photos">
      <li><img src="/assets/5.jpg" alt=""></li>
      <li><img src="/assets/6.jpg" alt=""></li>
      <li><img src="/assets/7.jpg" alt=""></li>
      <li><img src="/assets/8.jpg" alt=""></li>
    </div>
  </div>

  <!-- dth  -->
  <div class="nen">
    <h2>Tiện lợi hơn khi đặt hàng online</h2>
      <div class="section-smart">
        <div class="iphone">
          <img src="/assets/app-iPhone.png" alt="">
        </div>

        <div class="logy">
          <li>1</li>
          <li>2</li>
          <li>3</li>
        </div>

        <div class="information">
          <p>Chọn gói đăng ký phù hợp nhất với nhu cầu của bạn và đăng ký ngay hôm nay.</p>
          <p>Đặt bữa ăn ngon của bạn bằng ứng dụng di động hoặc trang web của chúng tôi. Hoặc thậm chí bạn có thể gọi cho chúng tôi!</p>
          <p>Thưởng thức bữa ăn của bạn sau chưa đầy 20 phút. Hẹn gặp lại lần sau!</p>
          <img src="/assets/download-app-android.png" alt="" class="btn-androi">
          <img src="/assets/download-app.svg" alt="" class="btn-ios">
        </div>
      </div>
  </div>
</section>
